/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset CSS code */

/* Start custom CSS */
/* Base */
/* Simple, HTML/element selectors */
/* Typographic styles; colors; spacing (above and below) */
html {
	font-size: 1.125em; /*18px / 16px = 1.125*/
	text-rendering:optimizeLegibility;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	overflow-x: hidden;
}
body{
	font-family: 'Cuprum', sans-serif;
	line-height: 1.22222em; /*22px / 18px = 1.22222*/
	background-color: #696969; /*grey*/
	background-image: url("images/background.jpg");
	color: black;
}
img{
	display: block;
	width: 100%;
	max-width: 100%;
}

h1{
	font-family: 'Lobster', cursive;
	font-size: 1.5em; /* 27px / 18px = 1.5(Ratio perfect fifth)*/
	line-height: 1.2222em; /* 33px / 27px = 1.2222*/
	color: #C63D0F; /*orange brown*/
}

#home-body{
	background-color: grey;
	background-image: url("images/home-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

#title{
	font-size: 2.5em;
	line-height: 1.25em;
	color: rgba(255, 167, 0, 1); 	/*orange brown*/
	text-align: center;
	position: absolute;
	display: block;
	left: 50vw;
	top: 100px;
	width: 100%;
	transform: translate(-50%, -50%); /*-1/2 of width*/
	border-bottom: 5px solid rgba(255, 167, 0, 1);
	border-top: 5px solid rgba(255, 167, 0, 1);
	margin-bottom: 5.5px;
	/*background-color: rgba(255, 167, 0, 0.4);*/
}

#home-tab{
	float: left;
	width: 10%;
	padding-left: 0;
}

nav ul li{
	float: right;
	width: 20%;
	min-width: 93.3px;
	margin: 5px;
}

nav ul li a{
	height: 44px;
	line-height: 44px;
	color: orange;
	display: block;
	text-align: center;
	text-decoration:inherit;
}

nav ul li a:hover{
	background-color: rgba(255, 167, 0, 0.2);
	text-decoration:inherit;
}

.active{
	border: 1px solid orange;
}

/* Modular Styles */
/*
  Class selectors, sometimes descendent/child selectors,
	repeating styles throughout a site/page*/

#gallery{
	position: relative;
	clear: both;
	top: 11px;
	margin: 11px;
	margin-bottom: 22px;
}

#gallery li {
	float: left;
	margin: 11px;
	background-color: white;
	border-bottom: 11px orange solid;
}

#gallery li figure{

}
#gallery li figure figcaption{
	padding-left: 11px;
	padding-right: 11px;
}
#gallery li figure figcaption p{
	padding-bottom: 0.4074em; /* 11px/27px = 0.4074*/
}

#gallery li figure a img{
	transition: .1s ease;
}
#gallery li figure a img:hover{
	padding: 1%; /*Pressed animation*/
	max-width: 98%; /*Pressed animation*/
}
#gallery li figure a img:active{
	padding: 5%; /*Pressed animation*/
	max-width: 90%; /*Pressed animation*/
}

#gallery li figure figcaption h1{
	 padding-top: 0.8148em; /* 22px/27px = 0.8148*/
	 padding-bottom: 0.4074em; /* 11px/27px = 0.4074*/
 }

/* State Styles */
.flexbox #gallery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flexbox #gallery li{
	float: none;
  }

	/*Tet*/
#events{
	position: relative;
	clear: both;
	top: 44px;
	padding-top: 44px;
	padding-bottom: 11px;
	margin-top: 22px;
	margin-bottom: 22px;
	}

#events::before{
	/*Vertical line*/
	content: '';
  position: absolute;
  top: 0;
  left: 44px;
	left:0;
	width: 44px;
	border: 4px solid orange;
	border-left: none;
	border-top-right-radius: 22px;
	border-bottom-right-radius: 22px;
  height: 100%;
	transform: translateX(-2px); /*-1/2 of width*/
  background: none;
	}

.timeline-block{
	position: relative;
	clear: both;
	display: block;
	margin-bottom: 22px;
}


.timeline-content{
	list-style: none;
	position: relative;
	width: calc(100% - 2*11px - 90px - 40px); /*100% - 2*padding - left - desired right gap*/
	left: 88px;
	padding: 11px;
	border-radius: 10px;
	background-color: white;
	}

.timeline-content::before{
	/*Arrows*/
	content: '';
  position: absolute;
	width: 0;
  height: 0;
  top: 44px; /*Must be equal to timeline-mark's top*/
	left: -18px;
  border: 10px solid transparent; /*Arrow height*/
  border-right: 10px solid white; /*Arrow width*/
	transform: translateY(-10px); /*- arrow height*/
	}

.timeline-mark{
	position:absolute;
	line-height: 2.4444444444em; /*44px / 18px = 2.4444444444*/
	width: 44px;
	height: 44px;
	left: 44px;
	top: 44px; /*Must be equal to .timeline-content::before's top*/
	transform: translate(-26px, -24px); /*-1/2 of width - border, -1/2 of height*/
	color: orange;
	background-color: #696969; /*grey*/
	/*background-image: url("images/banh1.jpg");*/
	/*background-size: contain;*/
	border: 4px solid orange;
	border-radius: 50%;
	text-align: center;
	}

.timeline-date{
	position: relative;
	line-height: 2.4444444444em; /*44px / 18px = 2.4444444444*/
	width: 3.6666666667em;/*66px / 18px = 3.6666666667*/
	height: 2.4444444444em;/*44px / 18px = 2.4444444444*/
	background-color: orange;
	border-radius: 5px;
	text-align: center;
	}



/* JavaScipt or meia-query dependent styles */
@media screen and (min-width: 450px){
	#gallery li {
		width: calc((100% - 4*11px)/2); /*(100% - 6*1 of margin) / 2 = 47*/
	}
}

@media screen and (min-width: 600px){
	#title{
		/*Stop bottom and top border of "Viet Food" stop growing*/
		width: 600px;
	}

@media screen and (min-width: 675px){
	#gallery li {
		width: calc((100% - 6*11px)/3); /*(100% - 8*1 of margin) / 3 = 30.666666*/
	}
}
@media screen and (min-width: 1000px){
	#gallery li {
		width: calc((100% - 8*11px)/4); /*(100% - 10*1 of margin) / 4 = 22.5*/
	}
}

@media screen and (min-width: 800px){
		#home-nav{
			position: absolute;
			top: 35vh;
			right: 0;
			width: 20%;
		}
		#home-nav ul li{
			float: none;
			/*width: 100%;*/
			margin-top: 22px;
			margin-bottom: 22px;
		}

	#home-nav ul li a{
		font-size: 1.5em;
	}


	}


}
/* Responsive Images */
