/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset CSS code */

/* Start custom CSS */
/* Base */
/* Simple, HTML/element selectors */
/* Typographic styles; colors; spacing (above and below) */
html {
	font-size: 1.125em; /*18px / 16px = 1.125*/
	text-rendering: optimizeLegibility;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body{
	line-height: 1.22222em; /*22px / 18px = 1.22222*/
	background-color: white;
}

img{
	width: 100%;
	max-width: 100%;
	display: block;
	text-align: center;
}
p{
	text-indent: 1.2222em;
}

h1{
	font-size: 1.333em; /* using ratio perfect fourth 23.994px/18 = 1.333em*/
	padding-bottom: 0.918810558em; /*22px/23.994px = 0.918810558em*/
	text-align: center;
	color: blue;
}

/*Layouts*/

/* Modular Styles */
/*
  Class selectors, sometimes descendent/child selectors,
	repeating styles throughout a site/page*/

header figure{
	float:left;
	width: 50%;
}

body section{
	clear: both;
	padding: 1.2222em;
	margin-bottom: 1.2222em;
	border-radius: 25px;
}
#time figure{
	height: 100vh;
}

body section figure	{
	padding-bottom: 1.2222em;
}

body section figure img	{
	border-radius: 25px;
}

.left{
	background-color: orange;
	margin-right: 1.2222em;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.right{
	background-color: orange;
	margin-left: 1.2222em;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#menu{
	margin:1em;
}

#menu figure {
	float: left;
	width: 40%;
	text-align: center;
	margin: 5%;
}

#menu figure figcaption{
	padding-top: 1.2222em;

}

#menu img{
	border-radius: 50%;
}

#intro{
	height: 100vh;
	text-align: center;
}

#intro p{
	/*height: 100%;*/
  position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-indent: 0;
}


@media screen and (min-width: 1000px){
	header figure{
		width: 25%;
	}
	body section{
		height: 30vw;
	}

	body section figure, body section article{
		width: 40%;
		float: left;
	}
	body section article{
		padding-left: 5%;
		padding-right: 5%;
		width: 50%;
		float: left;
	}
	.right figure{
		float: right;
	}
}
/* State Styles */
/* JavaScipt or meia-query dependent styles */

/* Responsive Images */
