/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, lsabel, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/*line-height: 1;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset CSS code */

/* Start custom CSS */
/* Base */
/* Simple, HTML/element selectors */
/* Typographic styles; colors; spacing (above and below) */
html {
	font-size: 1.125em;
	line-height: 1.22222em;
	text-rendering: optimizeLegibility;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
h1, h2, h3, p, ul{
	padding-bottom: 1.2222em;
}
p{
}
ul, ol {
	padding-left: 1.2222em;

}
ul {
	list-style-type: circle;
	list-style-position: inside;
	/*list-style-image: url(https://pbs.twimg.com/profile_images/378800000511259240/647da7057c38ef21e42eb29971163ab4_400x400.jpeg);*/
}
ol{
	list-style: decimal;
	list-style-position: inside;
}
li{
	padding-bottom: 0.6111em;
}
li li:last-child{
	padding-bottom: 0em;
}
li > ol, li > ul{
	padding-left: 1.2222em;
	padding-bottom: 0em;
	padding-top: 0.6111em;
}
/*Layouts*/
body{
}

nav{
	padding: 0;
}

#navigation ul{
	list-style: none;
	position:relative;
	padding: 0;
	/*top: 0;*/
	width: 100%;
	/*left: 0;*/
}
#navigation li {
	float: left;
	width: 33.3333%;
}
#navigation a{
	display: block;
	padding-top: 0.6111em;
	padding-bottom: 0.6111em;
	text-align: center;
	text-decoration: none;
	background-color: #32302F;
	color: #DEDEDD;
}
#navigation a:hover{
	color: #5F5F5F;

}

/* Modular Styles */
/*
  Class selectors, sometimes descendent/child selectors,
	repeating styles throughout a site/page
*/
#primary section{
	color: white;
	height: 100vh;
	background-color: grey;
	background-size:cover;
	background-repeat: no-repeat;
	background-blend-mode:multiply;
	background-position: center center;
	background-size:cover;
	padding: 0;
}
.background{
	background-color: grey;
	background-size:cover;
	background-repeat: no-repeat;
	background-blend-mode:multiply;
	background-position: center center;
	background-size:cover;
	padding: 0;
}


#sec1{
	background:url("vietnam.jpg");
	background-color: none;

}
#primary h1 p{

}
#primary h1{
	font-size: 1.8333em;
	line-height: 1.3333em;
	/*color: white;*/
	position: relative;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#primary p{
	color: white;
}
#sec1 h1{
	height: 20%;
	width: 20%;
	top: 40%;
}
#sec2{
	background:url("background2.jpg");
	background-color: grey;
	/*background-position:bottom;*/
}
#sec2 h1{
	height: 20%;
	width: 100%;
	top: 10%;
}
#sec3{
	background:url("background3.jpg");
	background-color: grey;
	/*background-position:bottom;*/
}
#sec3 h1{
	height: 20%;
	width: 100%;
	top: 5%;
}
#sec3 p{
	height: 100%;
	width: 70%;
	top: 5%;
	height: 100vh;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	text-align:left;
}
#sec4{
	background-color: none;
	height: 100vh;
	/*background-position:bottom;*/
}
#sec4 #story{
	float: left;
	height: 100vh;
	display: block;
	background-color: grey;
	width: 40%;
	/*background-position:bottom;*/
}
#sec4 #story p{
	width: 80%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	text-align:right;
	/*background-position:bottom;*/
}
#sec4 #story h1{
	width: 80%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	text-align:right;
	/*background-position:bottom;*/
}
#sec4 #image{
	background:url("background3.jpg");
	float: right;
	display: block;
	height: 100vh;
	right:100px;
	width: 60%;
	background-color: grey;
	background-size:cover;
	background-repeat: no-repeat;
	background-blend-mode:multiply;
	background-position: center center;
	background-size:cover;
	padding: 0;
}

#sec5{
	background-color: none;
	height: 100vh;
	/*background-position:bottom;*/
}
#sec5 #story{
	float: right;
	height: 100vh;
	display: block;
	background-color: grey;
	width: 40%;
	/*background-position:bottom;*/
}
#sec5 #story p{
	width: 80%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	text-align:left;
	/*background-position:bottom;*/
}
#sec5 #story h1{
	width: 80%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	text-align:left;
	/*background-position:bottom;*/
}
#sec5 #image{
	background:url("background3.jpg");
	float: left;
	display: block;
	height: 100vh;
	right:100px;
	width: 60%;
	background-color: grey;
	background-size:cover;
	background-repeat: no-repeat;
	background-blend-mode:multiply;
	background-position: center center;
	background-size:cover;
	padding: 0;
}


/* State Styles */
/* JavaScipt or meia-query dependent styles */

/* Responsive Images */
